.form_auth {
  width: 75%;
  height: auto;
  margin: 2% auto;
  background-color: $color-white;

  .form_header {
    width: 75%;
    height: auto;
    margin: 2% auto;
    padding-top: 1.5%;
    text-align: center;
  }

  form {
    width: 50%;
    margin: auto;

    .form_group {
      margin: auto;
      margin-bottom: 2%;
    }

    .form-control {
      width: 60%;
      margin: auto;
    }

    button {
      margin-left: 66.5%;
      margin-bottom: 5%;
    }
  }
}
