.form_contact {
  width: 75%;
  height: auto;
  margin-left: 12.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: $color-white;

  .form_header {
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 2rem !important;
    text-align: center;
  }

  form {
    width: 50%;
    margin: auto;
    //text-align: center;

    .form_group {
      padding-top: 1rem;

    }

    /*fieldset {
      padding-right: 5px;

      p {
        text-align: right;
      }

      input {
        width: 40%;
        height: 30px;
        border-radius: 2px;
        border: 1px solid black;
        display: block;
        float: right;
        padding-left: 1%;
        margin-right: 20%;
      }

      textarea {
        width: 40%;
        border-radius: 2px;
        border: 1px solid black;
        display: block;
        float: right;
        padding-left: 1%;
        margin-right: 20%;
      }
    }*/

    button {
      margin-left: 78%;
      background-color:  $color-darkGreen;
      margin-bottom: 2%;
    }
  }
}
