<profile-preview
  profile="profile"
  ng-repeat="profile in $ctrl.list">
</profile-preview>

<div class="profile-preview"
  ng-hide="!ctrl.loading">
    Loading profiles ...
</div>

<div class="profile-preview"
  ng-show="!$ctrl.loading && !$ctrl.list.length">
  Er zijn nog geen djs gevonden met opgegeven categorieën
</div>

<list-pagination
  total-pages="$ctrl.listConfig.totalPages"
  current-page="$ctrl.listConfig.currentPage"
  ng-hide="$ctrl.listConfig.totalPages <= 1">
</list-pagination>
