<div class="profile">
  <div class="left_container">
  <div class="profile_pic"
    show-image
    image="$ctrl.profile.image">
    <div class="profile_name_block">
      <h3 class="name" ng-bind="$ctrl.profile.djName"></h3>
    </div>
  </div>

  <div class="profile_genres">
    <ul>
      <li ng-repeat="genre in $ctrl.profile.genres">
          {{genre}}
      </li>
    </ul>
  </div>
  <div class="profile_price">
    <h3>€ {{::$ctrl.profile.price}} / uur</h3>
  </div>
</div>

  <div class="profile_bio">
    <p ng-bind="::$ctrl.profile.biography"></p>
  </div>

  <div class="profile_references">
    <h2>Referenties</h2>
    <ul>
      <li ng-repeat="reference in $ctrl.profile.references">
        {{reference}}
      </li>
    </ul>
  </div>

  <div class="profile_button">
    <button class="btn btn-lg btn-primary pull-xs-right"
      ng-click="$ctrl.book()">
      Boeken
    </button>
</div>
</div>
