<div class="profile">

  <div class="left_container">
  <div class="profile_pic">
    <img src="" alt="profiel foto">
  </div>

  <div class="profile_genres">
    <ul>
      <li ng-repeat="genre in $ctrl.profile.genres">
          {{genre}}
      </li>
    </ul>
  </div>
</div>

<h1 class="profile_djName" ng-bind="::$ctrl.profile.djName"></h1>

  <div class="profile_price_tag">
    <span id="test" class="pricetag" ng-bind="::$ctrl.profile.price"></span>
  </div>

  <div class="profile_bio">
    <p ng-bind="::$ctrl.profile.biography"></p>
  </div>

  <div class="profile_references">
    <h2>Referenties</h2>
    <ul>
      <li ng-repeat="reference in $ctrl.profile.references">
        {{reference}}
      </li>
    </ul>
  </div>

  <div class="profile_button">
    <button class="btn btn-lg btn-primary pull-xs-right"
      ui-sref="app.booking">
      Boeken
    </button>
  </div>
</div>
