<header>
  <div class="logo">
    <img src="../../images/logo.png" alt="logo"/>
  </div>
  <div class="login-link">
    <!--ik ben een dj link (niet-ingelogde gebruiker) -->
    <a ui-sref="app.login"
      show-authed="false">
      Ik ben een dj
    </a>

    <!-- log out (ingelogde gebruiker)-->
    <a ui-sref="app.login"
      ng-click="$ctrl.logout()"
    show-authed="true">
      Uitloggen
    </a>
  </div>

  <div class="navigation">
  <nav class="navbar">
    <!-- nav voor niet-ingelogde gebruikers -->
      <ul show-authed="false">
        <li>
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.home">
            Home
          </a>
        </li>
        <li>
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.overview">
            DJ's
          </a>
        </li>
        <li>
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.contact">
            Contact
          </a>
        </li>
      </ul>

      <ul show-authed="true">
        <li>
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.profile({djName: $ctrl.currentUser.djName})">
            Mijn Profiel
          </a>
        </li>
        <li>
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.settings">
            Settings
          </a>
        </li>
        <li>
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.contact">
            Contact
          </a>
        </li>
      </ul>
  </nav>
</div>
</header>
