<body>
  <div class="form_search">
    <div>
      <div class="form_header">
        <h1>Zoek de DJ die bij u past</h1>
      </div>
      <form ng-submit="$ctrl.submitForm()">
        <fieldset ng-disabled="$ctrl.isSubmitting">
          <fieldset class="form-group">
              <input class="form-control"
                type="text"
                placeholder="Genre"
                list="datalistGenres"
                ng-model="$ctrl.formData.genre"/>
              <datalist id="datalistGenres">
              </datalist>
          </fieldset>

          <fieldset class="form-group">
              <input class="form-control"
                type="text"
                placeholder="Regio"
                list="datalistRegions"
                ng-model="$ctrl.formData.region"/>
                <datalist id="datalistRegions">
                  <option value="Antwerpen">Antwerpen</option>
                  <option value="Henegouwen">Henegouwen</option>
                  <option value="Limburg">Limburg</option>
                  <option value="Luik">Luik</option>
                  <option value="Luxemburg">Luxemburg</option>
                  <option value="Namen">Namen</option>
                  <option value="Oost-Vlaanderen">Oost-Vlaanderen</option>
                  <option value="Vlaam-Brabant">Vlaams-Brabant</option>
                  <option value="Waals-Brabant">Waals-Brabant</option>
                  <option value="West-Vlaanderen">West-Vlaanderen</option>
                </datalist>
          </fieldset>

          <fieldset class="form-group">
              <input class="form-control"
                type="text"
                placeholder="Prijs"
                ng-model="$ctrl.formData.price"/>
          </fieldset>
      </fieldset>
        <button class="btn btn-lg btn-primary pull-xs-right"
          type="submit">Zoek</button>
      </form>
    </div>
  </div>

  <div class="in_the_picture">
    <div class="in_the_picture_header">
      <h1>Artiesten in de kijker</h1>
    </div>
    <div class="profile_preview"
      ng-repeat="profile in $ctrl.profile"
      show-image
      image="profile.image">
        <div class="name_block">
          <h3 class="name" ng-bind="profile.djName"></h3>
        </div>
    </div>
  </div>

  <div class="form_search"
    id="last_form">
    <div class="form_header">
    <h1>Zoek een DJ bij naam</h1>
  </div>
    <form ng-submit="$ctrl.submitFormDjName()">
      <fieldset class="form-group" ng-disabled="$ctrl.isSubmitting">
        <input class="form-control"
          type="text"
          placeholder="Naam"
          ng-model="$ctrl.formDataName.djName"/>
      </fieldset>
      <button class="btn btn-lg btn-primary pull-xs-right"
        type="submit">Zoek</button>
    </form>
  </div>
</body>
