@import "_colors";

.overview {
  width: 75%;
  height: auto;
  margin: 2% auto;
  background-color: $color-white;

  .overview_header {
    width: 75%;
    margin: auto;
    margin-bottom: 2rem !important;
    padding-top: 0.5%;
    text-align: center;
  }

  .overview_profile_preview {
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 5%;
    width: 300px;
    height: 250px;

    .overview_name_block {
      margin-top: 220px;;
      text-decoration-color: $color-white;
      
      .name {
        color: $color-white;
        text-decoration-color: $color-white;
      }
    }
  }
}
