@import "_colors";

.profile {
  width: 75%;
  height: auto;
  min-height: 500px;
  margin: 2% auto;
  background-color: $color-white;

  .left_container {
    float: left;
    max-width: 25%;


  .profile_pic {
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 2%;
  }

  .profile_genres {
    margin: auto;
    margin-top: 5%;

    ul {
      list-style-type: none;
      margin: auto;

      li {
        display: inline-block;
        background-color: $color-veryLightGray;
        margin-right: 2%;
        margin-bottom: 5%;
        padding: 1% 3% 1% 3%;
        border-radius: 20px;
        text-align: center;
      }

    }
  }
}

  .profile_djName {
    margin-left: 270px;
  }

  .profile_price_tag {
    position: relative;
    float: right;
    margin-top: -45px;
    margin-right: 30px;

    .pricetag{
      background: $color-darkGreen;
      color: $color-white;
      font-size: 18px;
      font-size: 1.8rem;
      text-decoration: none;
      -webkit-border-top-right-radius: 6px;
      -webkit-border-bottom-right-radius: 6px;
      -moz-border-radius-topright: 6px;
      -moz-border-radius-bottomright: 6px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: 18px 20px;
}
.pricetag:before{
  content: "";
  float: left;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid $color-darkGreen;
  border-bottom: 30px solid transparent;
}

.pricetag:after{
  content: "";
  position: absolute;
  top: 27px;
  left: 14px;
  width: 8px;
  height: 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: $color-white;
  -moz-box-shadow: -1px -1px 1px #424444;
  -webkit-box-shadow: -1px -1px 1px #424444;
  box-shadow: -1px -1px 1px #424444;
}
  }

  .profile_references {
    ul {
      list-style-type: none;
    }
  }

  .profile_button {
    float: right;
    margin-right: 2%;
  }
}
