@import "_colors";

.profile {
  width: 75%;
  height: auto;
  min-height: 500px;
  margin: 2% auto;
  background-color: $color-white;

  .left_container {
    float: left;
    max-width: 25%;

  .profile_pic {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 2%;

    .profile_name_block {
      margin-top: 220px;

      h3 {
        text-align: center;
        color: $color-white;
      }
    }
  }

  .profile_genres {
    margin: auto;
    margin-top: 5%;

    ul {
      list-style-type: none;
      margin: auto;

      li {
        display: inline-block;
        background-color: $color-veryLightGray;
        margin-right: 2%;
        margin-bottom: 5%;
        padding: 1% 3% 1% 3%;
        border-radius: 20px;
        text-align: center;
      }

    }
  }

  .profile_price {
    background-color: $color-veryLightGray;
    width: 250px;
    margin: auto;

    h3 {
      text-align: center;
      margin-bottom: 10%;
    }
  }
}
  .profile_bio {
    margin-left: 25%;
    padding-top: 2%;
    width: 75%;
  }

  .profile_references {
    background-color: $color-veryLightGray;
    position: relative;
    width: 50%;
    margin: auto;
    top: 175px;
    left: 125px;

    h2 {
      text-align: center;
      padding-top: 2%;
    }
    ul {
    //  list-style-type: none;
    padding-bottom: 2%;
    }
  }

  .profile_button {
    float: right;
    margin-right: 2%;
    margin-top: 15%;
  }
}
