@import "_colors";

.form_settings {
  width: 75%;
  height: auto;
  margin: 2% auto;
  background-color: $color-white;

  .form_header {
    width: 75%;
    margin: auto;
    margin-bottom: 2rem !important;
    padding-top: 1.5%;
    text-align: center;
  }

  form {
    width: 50%;
    margin: auto;

    .form-group {
      margin: auto;
      margin-bottom: 2%;
    }

    .form-control {
      width: 60%;
      margin: auto;
    }


    .form_label {
      padding-left: 20%;
    }


    button {
      margin-left: 59.5%;
      background-color:  $color-darkGreen;
      margin-bottom: 5%;
    }
  }
}
