<div class="profile">

  <div class="profile_pic">
    <img src="" alt="profiel foto">
  </div>

<h1 ng-bind="::$ctrl.profile.djName"></h1>

  <div cass="profile_price_tag">
    <p ng-bind="::$ctrl.profile.price"></p>
  </div>

  <div class="profile_genres">
    <h2>Genres</h2>
    <ul>
      <li ng-repeat="genre in $ctrl.profile.genres">
          {{genre}}
      </li>
    </ul>
  </div>

  <div class="profile_references">
    <h2>Referenties</h2>
    <ul>
      <li ng-repeat="reference in $ctrl.profile.references">
        {{reference}}
      </li>
    </ul>
  </div>

    <div class="profile_bio">
      <h2>BIO</h2>
      <p ng-bind="::$ctrl.profile.biography"></p>
    </div>

  <div class="profile_button">
    <button>Boeken</button>
  </div>
</div>
