<body>
  <div class="form_search">
    <div>
      <h1 class="form_header">Zoek de DJ die bij u past</h1>
      <p class="form_header">Vul de categorieën in die u wenst en laat ons zoeken naar dé DJ die u zoekt!</p>
      <form ng-submit="$ctrl.submitForm()">
        <fieldset ng-disabled="$ctrl.isSubmitting">
          <fieldset class="form-group">
            <p>Genre:
              <input class="form-control"
                type="text"
                placeholder="genre"
                ng-model="$ctrl.formData.genre"/>
            </p>
          </fieldset>

          <fieldset class="form-group">
            <p>Regio:
              <input class="form-control"
                type="text"
                placeholder="Regio"
                ng-model="$ctrl.formData.region"/>
            </p>
          </fieldset>

          <fieldset class="form-group">
            <p>Prijs:
              <input class="form-control"
                type="text"
                placeholder="prijs"
                ng-model="$ctrl.formData.price"/>
            </p>
          </fieldset>
      </fieldset>
        <button class="btn btn-lg btn-primary pull-xs-right"
          type="submit">Zoek</button>
      </form>
    </div>
  </div>

  <div class="in_the_picture">
    <h1>Artiesten in de kijker</h1>
  </div>

  <div class="form_search"
    id="last_form">
    <h1 class="form_header">Zoek een DJ bij naam</h1>
    <p class=form_header>Vul de naam in van een DJ die je wenst te boeken voor jouw feestje en wij brengen jouw meteen in contact!</p>
    <form ng-submit="$ctrl.submitFormDjName()">
      <fieldset class="form-group" ng-disabled="$ctrl.isSubmitting">
        <p>Naam:
        <input class="form-control"
          type="text"
          placeholder="naam"
          ng-model="$ctrl.formDataName.djName"/>
      </p>
      </fieldset>
      <button class="btn btn-lg btn-primary pull-xs-right"
        type="submit">Zoek</button>
    </form>
  </div>
</body>
