<body>
    <div class="form_auth">
      <h1 class="form_header" ng-bind="::$ctrl.title"></h1>
      <p class="form_header">
        <a ui-sref="app.register"
          ng-show="$ctrl.authType === 'login'">
           Een account aanmaken
        </a>
        <a ui-sref="app.login"
          ng-show="$ctrl.authType === 'register'">
          Ik heb al een account
        </a>
      </p>

      <list-errors errors="$ctrl.errors"></list-errors>

        <form ng-submit="$ctrl.submitForm()">
          <fieldset ng-disabled="$ctrl.isSubmitting">
            <fieldset class="form_group">
              <p>E-mail:
                <input type="email"
                  placeholder="E-mail"
                  ng-model="$ctrl.formData.email">
              </p>
            </fieldset>
            <fieldset class="form_group">
              <p>Wachtwoord:
                <input type="password"
                  placeholder="Wachtwoord"
                  ng-model="$ctrl.formData.password">
              </p>
            </fieldset>
            <fieldset class="form_group" ng-show="$ctrl.authType === 'register'">
              <p>Bevestig wachtwoord:
                <input type="password"
                  placeholder="Bevestig wachtwoord">
              </p>
            </fieldset>
            <fieldset class="form_group" ng-show="$ctrl.authType === 'register'">
              <p>Voornaam:
                <input type="text"
                  placeholder="Voornaam"
                  ng-model="$ctrl.formData.firstName">
              </p>
            </fieldset>
            <fieldset class="form_group" ng-show="$ctrl.authType === 'register'">
              <p>Naam:
                <input type="text"
                  placeholder="Naam"
                  ng-model="$ctrl.formData.Name">
              </p>
            </fieldset>
            <fieldset class="form_group" ng-show="$ctrl.authType === 'register'">
              <p>Regio:
                <input type="text"
                  placeholder="Regio"
                  ng-model="$ctrl.formData.region">
              </p>
            </fieldset>
            <fieldset class="form_group" ng-show="$ctrl.authType === 'register'">
              <p>DJ-naam:
                <input type="text"
                  placeholder="DJ-naam"
                  ng-model="$ctrl.formData.djName">
              </p>
            </fieldset>
            <fieldset class="form_group" ng-show="$ctrl.authType === 'register'">
              <p>Genres:
                <input type="text"
                  placeholder="Genre"
                  ng-model="$ctrl.formData.genres">
              </p>
            </fieldset>
            <fieldset class="form_group" ng-show="$ctrl.authType === 'register'">
              <p>Prijs:
                <input type="text"
                  placeholdeer="Prijs per uur"
                  ng-model="$ctrl.formData.price">
              </p>
            </fieldset>
        </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit" ng-bind=::$ctrl.title></button>
        </form>
    </div>
</body>
